<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %> 
<body>
  <header>
    <%- include("partials/header.ejs") %> 
  </header>
  <main>
    <form action="/pokemon/<%=index%>?_method=PUT" method="post" style="background-color: transparent;">
      <div class="side-bar-new">
        <button class="side-bar-btn" type="submit">Update</button>
    </div>
    <div class="show-card-new">
      Name: <input type="text" name="name" value="<%= myPokemon.name %>">
      HP: <input type="text" name="hp" value="<%= myPokemon.stats.hp %>">
      Attack: <input type="text" name="attack" value="<%= myPokemon.stats.attack %>">
      Defense: <input type="text" name="defense" value="<%= myPokemon.stats.defense %>">
      Image Url: <input type="text" name="img" value="<%= myPokemon.img %>">
      <p id="btn">
      <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
        Add More Info
      </button>
      </p>
      <div style="min-height: 120px; background-color: transparent;">
      <div class="collapse collapse-horizontal" id="collapseWidthExample" style="background-color: transparent;">
        <div class="card card-body" style="width: 300px; background-color: transparent;">
          <p class="more-stats">Classification: </br> <input type="text" name="classification" value="<%=myPokemon.misc.classification%>"> </p>
          <p class="more-stats">Speed: </br> <input type="text" name="speed" value="<%=myPokemon.stats.speed %>"></p>
        </div>
      </div>
      </div>
    </div>
    </form>
  </main>
</body>
</html>