<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %> 
<body>
  <header>
    <%- include("partials/header.ejs") %> 
  </header>
  <main>
    <div class="card main-card">
      <img src="<%= starterOne.img %> " class="card-img-top card-image" alt="..." >
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <p class="card-text">
          <a href="/pokemon/0"><%= starterOne.name %></a> 
        </p>
        <p>
          Normal Abilities: <%=starterOne.misc.abilities.normal.join(", ") %> </br>
          Hidden Abilities: <%=starterOne.misc.abilities.hidden.join(", ") %> 
        </p>
      </div>
    </div>
    <div class="card main-card">
      <img src="<%= starterTwo.img %> " class="card-img-top card-image" alt="..." >
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <p class="card-text">
          <a href="/pokemon/0"><%= starterTwo.name %></a> 
        </p>
        <p>
          Normal Abilities: <%=starterTwo.misc.abilities.normal.join(", ") %> </br>
          Hidden Abilities: <%=starterTwo.misc.abilities.hidden.join(", ") %> 
        </p>
      </div>
    </div>
    <div class="card main-card">
      <img src="<%= starterThree.img %> " class="card-img-top card-image" alt="..." >
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <p class="card-text">
          <a href="/pokemon/0"><%= starterThree.name %></a> 
        </p>
        <p>
          Normal Abilities: <%=starterThree.misc.abilities.normal.join(", ") %> </br>
          Hidden Abilities: <%=starterThree.misc.abilities.hidden.join(", ") %> 
        </p>
      </div>
    </div>
  </main>
</body>
</html>