<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %> 
<body>
  <header>
    <%- include("partials/header.ejs") %> 
  </header>
  <main>
    <div class="side-bar">
      <div id="edit">
        <a href="/pokemon/<%=index%>/edit">
          <button class="side-bar-btn" type="button">EDIT</button>
        </a>
      </div>
      <div id="del">
        <form action="/pokemon/<%=index%>?_method=DELETE " method="post">
          <input class="side-bar-btn" type="submit" value="DELETE">       
        </form>
      </div>
    </div>
    <div class="show-card">
      <div class="show-card-header">
        <h1><%= myPokemon.name%></h1>
        <p><%= myPokemon.stats.hp %> HP</p>
      </div>
      <div class="show-card-image rounded-3">
        <img class="rounded-3" src="<%= myPokemon.img %> " onerror="this.src = './public/img/whos_that_pokemon.png';">
      </div>
      <div class="show-card-stats">
        <div><%= myPokemon.stats.attack%> ATK</div>
        <div><%= myPokemon.stats.defense%> DEF</div>
        <div>Type: <%=myPokemon.type.toString(", ") %></div>   
      </div>
      <p id="btn">
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          Show More Info
        </button>
      </p>
      <div style="min-height: 120px; background-color: transparent;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample" style="background-color: transparent;">
          <div class="card card-body" style="width: 300px; background-color: transparent;">
            <p class="more-stats">Classification: <%=myPokemon.misc.classification%> </p>
            <p class="more-stats">Speed: <%=myPokemon.stats.speed %> </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>