<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %> 
<body>
  <header>
    <%- include("partials/header.ejs") %> 
  </header>
  <main>
    <div class="container">
      <img src="<%=myPokemon.img%>" class="img-thumbnail" alt="myPokemon.name">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <a href="">
          <button type="button" class="btn btn-outline-primary">Edit</button>
        </a>
     <form action="/pokemon/<%=index%>?_method=DELETE" method="post">
      <input type="submit" value="DELETE">
    </form>
      </div>
    </div>
    <div class="container">
      <h1><%=myPokemon.name%></h1>
    </div>
  </main>
</body>
</html>