<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %> 
<body>
  <header>
    <%- include("partials/header.ejs") %> 
  </header>
  <main>
    <div class="container">
      <img src="<%=myPokemon.img%>" class="img-thumbnail" alt="<%=myPokemon.name%>">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <a href="/pokemon/<%=index%>/edit">
          <button type="button" class="btn btn-outline-primary">EDIT</button>
        </a>        
        <form action="/pokemon/<%=index%>?_method=DELETE " method="post">
          <button type="submit" class="btn btn-outline-primary">DELETE</button>        
        </form>
      </div>
    </div>
    <div class="container">
      <h1><%=myPokemon.name%></h1>
      <ul>
        <li>Type: <%= myPokemon.type.join(", ") %> </li>
        <li>HP: <%= myPokemon.stats.hp %></li>
        <li>ATTACK: <%= myPokemon.stats.attack %></li>
        <li>DEFENSE: <%= myPokemon.stats.defense %></li>
      </ul>
    </div>
  </main>
</body>
</html>